/core/node_modules
/core/public/build
/core/public/hot
/core/public/storage
/core/storage/*.key
/core/vendor
/core/.env
/core/.env.backup
/core/.env.production
/core/.phpunit.result.cache
/core/Homestead.json
/core/Homestead.yaml
/core/auth.json
/core/npm-debug.log
/core/yarn-error.log
/.fleet
/.idea
/.vscode
